@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,700;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(98, 98, 98);
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.75);
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
 
}
.brand img {

    width: 180px;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
/* .brand span {
    color: rgb(98, 98, 98);
} */
.menu {
    display: flex;
    list-style: none;
    cursor: pointer;
    font-style: italic;
    align-items: center;
}
.menu li a{
    margin: 10px 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    
}
.menu li:hover{
    text-decoration: underline;
    scale: 1.2;
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.75);
    padding: 5px 5px;
    border-radius: 10px; 
    margin: 0px 15px;
}

.iconify {
    display: none; 
}
.iconify span {
    color: black;
}


/* CSS SLIDER */
body{
    background-color: #eefbf8;
    background-image: radial-gradient(circle, hsla(0,0%,100%,.1), hsla(0,0%,0%,.75)),
                      linear-gradient(left, transparent 50%, hsla(0,0%,0%,.01) 50%);
    background-position: 50% 75%, 50% 50%;
    background-repeat: no-repeat, repeat;
    background-size: 150% 150%, 3em 3em;
    font-size: 100%;
    min-height: 100%;
    background: #5f2c82;
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
    background: linear-gradient(to right, #49a09d, #5f2c82);
}
  /**********/
 /* Slider */
/**********/

.slider {
    background-color: #fff;
    box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
                0 3px 1px hsla(0,0%,100%,.75),
                0 -1px 1px 2px hsla(0,0%,0%,.1);
    height: 18.75em;
    left: 50%;
    margin: -9.875em -13em;
    padding: .5em;
    position: absolute;
    top: 50%;
    width: 25em;
}

/* Frame */

.slider:before {
    background-color: #22130c;
    bottom: -2.5em;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
                inset 0 -2px 1px hsla(0,0%,0%,.4),
                0 5px 50px hsla(0,0%,0%,.25),
                0 20px 20px -15px hsla(0,0%,0%,.2),
                0 30px 20px -15px hsla(0,0%,0%,.15),
                0 40px 20px -15px hsla(0,0%,0%,.1);
    content: '';
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
}

/* Mat */

.slider:after {
    background-color: #fff5e5;
    bottom: -1.5em;
    box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
                0 -1px 1px 1px hsla(0,0%,0%,.4),
                inset 0 2px 3px 1px hsla(0,0%,0%,.2),
                inset 0 4px 3px 1px hsla(0,0%,0%,.2),
                inset 0 6px 3px 1px hsla(0,0%,0%,.1);
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
}

/* Slides */

.slider li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style:none;
    position: absolute;
}
.slider input {
    display: none;
}

/* Navigation */

.slider label {
    background-color: #111;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: .5em;
    visibility: hidden;
    z-index: 10;
}
.slider label:after {
    border-radius: 100%;
    bottom: -.2em;
    box-shadow: inset 0 0 0 .2em rgb(254, 254, 254),
                inset 0 2px 2px #000,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}
.slider:hover label {
    opacity: 1;
    visibility: visible;
}
.slider input:checked + label {
    background-color: #fff;
}
.slider:hover li:nth-child(1) label {
    left: .5em;
}
.slider:hover li:nth-child(2) label {
    left: 2em;
}
.slider:hover li:nth-child(3) label {
    left: 3.5em;
}
.slider:hover li:nth-child(4) label {
    left: 5em;
}

/* Images */

.slider img {
    height: 18.75em;
    opacity: 0;
    transition: .25s;
    width: 25em;
    vertical-align: top;
    visibility: hidden;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
 /* css info*/
 .info {
    display: flex;
    flex-direction: column;
    margin-top: 500px;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 10px;

 }
 .title {
    position: relative;
    font-size: 20px; 
    background: #355C7D;
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    color: black;
    height: 40px;
    font-weight: bolder;
    font-size: 30px;
 }
 .album{
    display: flex;
    margin-top: 31px;
    flex-direction: column;
    position: relative;  
 }
 .album li {
    font-size: 20px;
 }
 .biografia h1{
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #355C7D;
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    color: black;
    font-weight: bolder;
    height: 40px;
    font-size: 30px;
 }
 .biografia {
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;

 }
 .biografia p {
    font-size: 20px;
 }
 /* css boton */
.boton {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}
.btn{
    background: #355C7D; 
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
    width: 100%;
    height: 100%;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 20px; 
    box-shadow: 2px 10px 36px 4px rgba(219,219,219,1);
    
 }
 .btn:hover{
    color: rgb(73, 0, 0);
    
 }
 /* css footer  */
 .pie-pagina{
    width: 100%;
    background: #355C7D; 
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); 
    margin-top: 20px;
} 
.pie-pagina .logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
}

.red-social a{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    justify-content: space-between;
    color: #000;
}
.red-social a:hover{
    scale: 1.2;
}